bleak==0.22.2
network==0.1
setuptools==58.0.0
winrt-runtime==2.2.0
winrt-Windows.Devices.Bluetooth==2.2.0
winrt-Windows.Devices.Bluetooth.Advertisement==2.2.0
winrt-Windows.Devices.Bluetooth.GenericAttributeProfile==2.2.0
winrt-Windows.Devices.Enumeration==2.2.0
winrt-Windows.Foundation==2.2.0
winrt-Windows.Foundation.Collections==2.2.0
winrt-Windows.Storage.Streams==2.2.0
